@model IEnumerable<OnlineShop.Models.ViewModels.Comments.CommentVm>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
@{
    ViewBag.Title = "AllArticles";
}

<h2>Comments of the product</h2>
<br/>

@if (User.IsInRole("Client"))
{
 //@Html.Action("CreationVisualize");
 @Html.ActionLink("Add", "Add",null, new {@class = "btn btn-lg btn-info"})
}  


<section>
    @foreach (var vm in Model)
    {
        <article>
            <h3>Title: @Html.DisplayFor(vms => vm.Title)</h3>
            <p> @Html.DisplayFor(vms => vm.Content)</p>
            <br/>
            <hr/>
            <br/>
            <span class ="author">Author: @Html.DisplayFor(vms => vm.Author.Name)</span>
            <br />
            <span class ="publish-data">Published at: @Html.DisplayFor(vms=> vm.PublishDate)</span>
        </article>
    }
</section>
