@model OnlineShop.Models.ViewModels.Admin.AdminPageVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>

@Html.ActionLink("Add Product", "AddProduct", null, new { @class = "btn btn-lg btn-success" })
<br/>
<br />
<div class="row">
    <div class="col-sm-5 bordered">
        <h3>Products</h3>
        @foreach (var product in Model.Products)
        {
            <div class="admin-course">
                <h4>@Html.DisplayFor(vm => product.Name)</h4>
                @Html.ActionLink("Edit","EditProduct", new {id = product.Id}, new {@class = "btn btn-lg btn-warning"})
            </div>
        }
    </div>
    <div class="col-sm-5 col-lg-offset-3 bordered">
        <h3>Users</h3>
        @foreach (var user in Model.Users)
        {
            <div class="admin-user">
                <h4>@Html.DisplayFor(vm => user.Name)</h4>
                @Html.ActionLink("Edit", "EditUser", new { id = user.Id }, new { @class = "btn btn-lg btn-warning" })
            </div>
        }
    </div>
</div>

